## 1. Imports

In [12]:
#basic libs
import pandas as pd
import numpy  as np

#Ipython
from IPython.display import display

### 1.1 Loading Data

In [10]:
data = pd.read_csv( 'data/data_raw.csv' )

## 2. Data Descriptions

### 2.1 Data dimension

In [13]:
display( 'Database containig: {} rows and {} columns.'.format( data.shape[0], data.shape[1] ) )

'Database containig: 381109 rows and 14 columns.'

### 2.2 Data Types

In [15]:
data.dtypes

id                        int64
gender                   object
age                       int64
region_code             float64
policy_sales_channel    float64
id.1                      int64
previously_insured        int64
annual_premium          float64
vintage                   int64
response                  int64
id.2                      int64
driving_license           int64
vehicle_age              object
vehicle_damage           object
dtype: object

### 2.3 Check NA

In [16]:
data.isna().sum()

id                      0
gender                  0
age                     0
region_code             0
policy_sales_channel    0
id.1                    0
previously_insured      0
annual_premium          0
vintage                 0
response                0
id.2                    0
driving_license         0
vehicle_age             0
vehicle_damage          0
dtype: int64

### 2.4 Data Descriptive

In [17]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
id,381109.0,190555.000000,110016.836208,1.0,95278.0,190555.0,285832.0,381109.0
age,381109.0,38.822584,15.511611,20.0,25.0,36.0,49.0,85.0
region_code,381109.0,26.388807,13.229888,0.0,15.0,28.0,35.0,52.0
policy_sales_channel,381109.0,112.034295,54.203995,1.0,29.0,133.0,152.0,163.0
id.1,381109.0,190555.000000,110016.836208,1.0,95278.0,190555.0,285832.0,381109.0
previously_insured,381109.0,0.458210,0.498251,0.0,0.0,0.0,1.0,1.0
annual_premium,381109.0,30564.389581,17213.155057,2630.0,24405.0,31669.0,39400.0,540165.0
vintage,381109.0,154.347397,83.671304,10.0,82.0,154.0,227.0,299.0
response,381109.0,0.122563,0.327936,0.0,0.0,0.0,0.0,1.0
id.2,381109.0,190555.000000,110016.836208,1.0,95278.0,190555.0,285832.0,381109.0
driving_license,381109.0,0.997869,0.046110,0.0,1.0,1.0,1.0,1.0

## 3. Featrue Engineering

##  4. Data Filtering

## 5. EDA

## 6. Feature Selection

## 7. Data Preparation

## 8. Machine Learning

## 9.

## 10.